In [4]:
count = 100
while count >=1:
    print(count)
    count -=1
print(count)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [6]:
n = 5
i =1
while i <= 10:
    print(n * i)
    i += 1

5
10
15
20
25
30
35
40
45
50

In [10]:
list = [11,22,44,33,55,77,88,99]
i = 0
while i < len(list):
    print(list[i])
    i +=1

11
22
44
33
55
77
88
99

In [ ]:
#Searching for a number x in this tuple using loop
tuple1 = (11,22,33,44,55,66,77,88,99)
x = 66

print(tuple1.index(44))
print(len(tuple1))
i = 0 

while i < len(tuple1):
    if tuple1[i] ==x:
        print("found at index", i)
        break
    else:
       print("not found")
    i +=1

3
9
not found
not found
not found
not found
not found
found at index 5

In [4]:
list = {1,4,9,16,25,36,49,64,81,100}
for num in list:
    if(num%2 != 0 ):
         continue
    print(num)

64
4
36
100
16

In [10]:
tuple = (1,4,9,16,25,36,49,64,81,100)
x = 16

for value in tuple:
    if(value == x):
        print("The value is found",value)
        break
else:
    print("not found")

The value is found 16

In [16]:
value = range(100,0,-1)
for item in value:
    print(item)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [25]:
table = range(1,11)
digit = 8
for v in table:
    print(digit,"x",v, "=",7*v)

8 x 1 = 7
8 x 2 = 14
8 x 3 = 21
8 x 4 = 28
8 x 5 = 35
8 x 6 = 42
8 x 7 = 49
8 x 8 = 56
8 x 9 = 63
8 x 10 = 70

In [ ]:
n = 12
i = 1
while i < 10:
    print("sum is", (12 + i))
    break

else:
    print("End")

sum is 13
End

In [27]:
n = 5
tuple = (4,3,2,1)
for value in tuple:
    print(n*value)
    break
else:
    print("End")

20

In [45]:
list = ["Ali", "Zia", 23, 45.6, True]

def find_len(param):
     param.append("New Item")
     length = len(param)
     param.insert(1,"cucamber")
    
     param.remove(45.6)
     print(param,sep="\n")
     return length
   
   
find_len(list)

['Ali', 'cucamber', 'Zia', 23, True, 'New Item']

6

In [48]:
list = ["Ali", "Zia", 23, 45.6, True]

def find_len(param):
    for item in param:
        print(item)
     
   
   
find_len(list)

Ali
Zia
23
45.6
True

In [56]:
n = 5

def find_factorial(fact):

    i = 1
    
    while i <= n:
        fact = 1
        fact *= i
        print(fact)
        i +=1
        
    
    return fact

find_factorial(n)

1
2
3
4
5

5

In [65]:
INR = 230.00
def inr_to_usd(amount):
    Dollar = amount/INR

    return Dollar

inr_to_usd(1200)

5.217391304347826

In [4]:
#recursive loop
def sum(val):
    if(val == 6):
        return 6
    else:
        
       
        return val + sum(val + 1)
        
    
    
print("The sum is",sum(0))

The sum is 21

In [ ]:
list = ['funct1', 'funct2', 'funct3', 'funct4']
indx = 0
def show(list ,indx):
    if(indx==len(list)):
        return 
    
    print(list[indx])
    show(list,indx+1)


show(list,indx)

funct1
funct2
funct3
funct4

In [13]:

f = open("file.txt","a")
data = f.write("Hello")
print(data)

f.close()

r = open("file.txt","r")
data = r.read()
print(data)
r.close()
import os   
os.remove("file.txt")

5
HelloHelloHelloHelloHelloHelloHelloHello

In [1]:

f = open("file.txt","a")
data = f.write("Hello")
print(data)

f.close()

r = open("file.txt","r")
data = r.read()
print(data)
r.close()
import os   
os.remove("file.txt")

5
Hello

In [4]:
f = open("word.txt","a")
data = f.write("Hi everyone. \n we are learning File I/O using Java \n I like programming  in jav ")
data = f.write('a')
f.close()

r = open("word.txt","r")
data= r.read()
print(data)
r.close()

Hi everyone.
 we are learning File I/O using Java
 I like programming  in jav Hi everyone.
 we are learning File I/O using Java
 I like programming  in jav aHi everyone.
 we are learning File I/O using Java
 I like programming  in jav a

In [8]:
f = open('word.txt',"+r")
data = f.read()
print(data)

Hi everyone.
 we are learning File I/O using Java
 I like programming  in jav Hi everyone.
 we are learning File I/O using Java
 I like programming  in jav aHi everyone.
 we are learning File I/O using Java
 I like programming  in jav a

In [11]:
f = open('word.txt',"+r")
data = f.read()
data.replace("everyone","anyone")
print(data)

Hi everyone.
 we are learning File I/O using Java
 I like programming  in jav Hi everyone.
 we are learning File I/O using Java
 I like programming  in jav aHi everyone.
 we are learning File I/O using Java
 I like programming  in jav a

In [12]:
f = open('word.txt',"+r")
data = f.read()
data.replace("everyone","anyone")
print(data)

Hi everyone.
 we are learning File I/O using Java
 I like programming  in jav Hi everyone.
 we are learning File I/O using Java
 I like programming  in jav aHi everyone.
 we are learning File I/O using Java
 I like programming  in jav a

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'file.txt'